    <main class="main-section backgnd">
   <section class="h-100">
    <div class="container h-100">
	<div class="row justify-content-sm-center h-100">
	    <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
            <div class="text-center my-5">
	    </div>

	    <div class="card shadow-lg">

		<div class="card-body p-5">
		    <h1 class="fs-4 card-title fw-bold mb-4">{{ @i18n_login }}</h1>

		    <check if="{{ isset(@message) }}">
			<true>
			    <div class="alert alert-danger" role="alert">
				<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
				<span class="sr-only">{{ @i18n_error}}</span>
				{{ @message | raw }}
			    </div>
			</true>
			<false>
			    <check if="{{ isset(@SESSION.login_message) }}">
				<true>
				    <div class="alert alert-success" role="alert">
					<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
					<span class="sr-only">{{ @i18n_msg }}</span>
					{{ @SESSION.login_message | raw }}
				    </div>
				</true>
			    </check>
			</false>
		    </check>
		    <form method="POST" class="needs-validation" novalidate="" autocomplete="off">
		        <label class="mb-2 text-muted" for="nomusuario">{{ @i18n_username }}</label>
			<div class="input-group mb-3">
			    <span class="input-group-text" id="basic-addon1"><i class="fa fa-user fa-fw"></i></span>
			    <input id="username" type="text" class="form-control" name="nomusuario" value="" required autofocus>
			    <div class="invalid-feedback">
				Invalido
			    </div>
			</div>

		        <label class="mb-2 text-muted" for="claveusuario">{{ @i18n_password }}</label>
			<div class="input-group mb-3">
			    <span class="input-group-text" id="basic-addon1"><i class="fa fa-lock fa-fw"></i></span>
			    <input id="password" type="password" class="form-control"  name="claveusuario" value="" required autofocus>
			    <div class="invalid-feedback">
				Se requiere la Contrasena
			    </div>
			</div>
			<div class="card-footer py-3 border-0">
		            <div class="col-lg-xs text-center">
			        <input type="hidden" name="login" value="login" />
			        <input type="hidden" name="session_csrf" value="{{ @CSRF }}" />
			        <div class="col-lg-xs text-center"><input class="btn btn-primary" name="submit" value="{{ @i18n_login }}" type="submit"></div>
		            </div>
			</div>
		    </form>
		</div>
	      </div>

	</div>
      </div>
	  
<div class="text-center mt-5 text-muted">
	...
	</div>

    </div>
</section>
</main>

<div class="text-center mt-5 text-muted">
	Copyright &copy; 2017-2023 &mdash; Powered by XMART101 
	</div>