<div class="row justify-content-sm-center h-90">
    <div class="col-md-8 col-lg-8">
	<div class="card shadow-lg">
	    <div class="card-body p-5">
    <h1>Task Analysis Insights</h1>
    <div class="insights">
        <h2>Insights:</h2>
        <p>{{ @insights }}</p>
    </div>

    <a href="/admin/openai">Ask another question</a>
	    </div>
	</div>
    </div>
</div>
                        <div class="col-12 col-xl-4">
                        <div class="card">
                            <h5 class="card-header">Frecuencia de tipos de tarea</h5>
                            <div class="card-body">
    <div class="chart-container">
        <canvas id="taskCategoriesChart"></canvas>
    </div>
                            </div>
                        </div>
                    </div> 
