    <!-- INICIO FILA mensajes alertas  -->
    <div class="container py-1">
        <div class="row">
            <div class="col-12">
            </div>
              <check if="{{ @message }}">
                <check if="{{ trim(@alertType)=='success' }}">
                    <true>
		                <div class="auto-close alert alert-success alert-dismissible fade show d-flex align-items-center" role="alert">
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            <strong>{{ @message }}</strong>
                        </div>
                    </true>
                    <false>
		                <div class="auto-close alert alert-danger alert-dismissible fade show d-flex align-items-center" role="alert">
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            <strong>{{ @message }}</strong>
                        </div>
                    </false>
                </check>
              </check>
        </div>
    </div>
    <!-- FIN FILA mensajes alertas  -->

<div class="container">
    <div class="row">
	    <div class="col-12">
		    <check if="{{ @person }}">  
		    <true>
	            <h1>{{ @person.person_name.'  '.@person.person_lname }}</h1>
                <p><strong>{{ @i18n_person_addr }}:</strong> {{ trim(@person.person_addr) }}</p>
                <p><strong>{{ @i18n_person_phone }}:</strong> {{ trim(@person.person_phone) }}</p>
                <hr>
            </true>
            </check>
            <h1>{{ @page_head }}</h1>
<!--
<button type="button" class="btn btn-primary position-relative">
  Inbox
  <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
    <span class="visually-hidden">New alerts</span>
  </span>
</button>

<div class="icon-badge-group">
    <div class="icon-badge-container">
        <i class="far fa-envelope-open icon-badge-icon"></i>
        <div class="icon-badge">6</div>
    </div>
    <div class="icon-badge-container">
        <i class="far fa-user icon-badge-icon"></i>
    </div>
    <div class="icon-badge-container">
        <i class="far fa-user icon-badge-icon"></i>
        <div class="icon-badge">6</div>
    </div>
</div>
-->

<!-- INICIO de TABS  -->
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" id="simple-tab-0" data-bs-toggle="tab" href="#simple-tabpanel-0" role="tab" aria-controls="simple-tabpanel-0" aria-selected="true">Activas</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="simple-tab-1" data-bs-toggle="tab" href="#simple-tabpanel-1" role="tab" aria-controls="simple-tabpanel-1" aria-selected="false">Completadas</a>
  </li>
</ul>

<div class="tab-content pt-5" id="tab-content">
<!-- INICIO TAB Activas  -->    
  <div class="tab-pane active" id="simple-tabpanel-0" role="tabpanel" aria-labelledby="simple-tab-0">
    <repeat group="{{ @tasks }}" value="{{ @task }}" counter="{{ @count }}">
		<!-- <check if="{{ trim(@task.task_status)=='Pendiente' }}">  -->
		<check if="{{ @task.task_date && strtotime(str_replace('/', '-', @task.task_date)) < time() && @task.task_status <> 'Completada' }}">  
		    <true>
  		        <div class="toast show p-1 text-dark bg-opacity-50 border-0">
  		            <div class="toast-header">
                        <strong class="me-auto">{{ trim(@task.task_type).' | '.trim(@task.task_status) }}</strong>
      			        <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
    		        </div>
  		            <div class="toast-header">
                        <small >{{ trim(@task.task_date).'      '.date('g:i A', strtotime(@task.task_time)) }}</small>
    		        </div>
    		        <div class="toast-body">
    			        {{ trim(@task.task_desc) }}
    			        <div class="mt-2 pt-2 border-top">
      			            <a class="btn btn-sm btn-success" href="{{ @BASE.'/task/edit/'. @task.person_num . '/' . @task.task_num }}">{{ @i18n_edit }}</a>
      			            <!-- <a href="{{ @BASE.'/task/delete/'. @task.person_num . '/' . @task.task_num }}" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirm-delete">{{ @i18n_delete }}</a> -->
                            <a data-href="{{ @BASE.'/task/delete/'. @task.person_num . '/' . @task.task_num . '/' . @task.task_num . '/persontask' }}" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#confirm-delete">{{ @i18n_delete }}</a>      			    
      			            <!-- <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirm-delete" data-bs-dismiss="toast">{{ @i18n_delete }}</button> -->
    			        </div>
    		        </div>
  		        </div>
            </true>
    	</check>  		        
    </repeat>
  </div>
<!-- FIN TAB Activas  -->

<!-- INICIO TAB Completadas  -->  
  <div class="tab-pane" id="simple-tabpanel-1" role="tabpanel" aria-labelledby="simple-tab-1">
    <repeat group="{{ @tasks }}" value="{{ @task }}" counter="{{ @count }}">
		<!-- <check if="{{ trim(@task.task_status)=='Pendiente' }}">  -->
		<check if="{{ @task.task_date && strtotime(str_replace('/', '-', @task.task_date)) < time() && @task.task_status <> 'Completada' }}">
		    <true></true>
    	    <false>
  		        <div class="toast show bg-danger p-1 text-dark bg-opacity-50 border-0">
  		            <div class="toast-header">
                        <strong class="me-auto">{{ trim(@task.task_type).' | '.trim(@task.task_status) }}</strong>
      			        <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
    		        </div>
  		            <div class="toast-header">
                        <small >{{ trim(@task.task_date).'      '.date('g:i A', strtotime(@task.task_time)) }}</small>
    		        </div>
    		        <div class="toast-body">
    			        {{ trim(@task.task_desc) }}
    			        <div class="mt-2 pt-2 border-top">
      			            <a class="btn btn-sm btn-success" href="{{ @BASE.'/task/edit/'. @task.person_num . '/' . @task.task_num }}">{{ @i18n_edit }}</a>
      			            <!-- <a href="{{ @BASE.'/task/delete/'. @task.person_num . '/' . @task.task_num }}" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirm-delete">{{ @i18n_delete }}</a> -->
                            <a data-href="{{ @BASE.'/task/delete/'. @task.person_num . '/' . @task.task_num . '/' . @task.task_num . '/persontask' }}" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#confirm-delete">{{ @i18n_delete }}</a>      			    
      			            <!-- <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirm-delete" data-bs-dismiss="toast">{{ @i18n_delete }}</button> -->
    			        </div>
    		        </div>
  		        </div>
            </false>
    	</check>  		        
    </repeat>
  </div>
<!-- FIN TAB Completadas  --> 

</div>
<!-- FIN de TABS  -->

	</div>
    </div>
</div>

<include href="/modal/delete.htm" />
