<div class="container py-5">
  <div class="row">
    <div class="col-md-6 mx-auto">

    <!-- INICIO FILA mensajes alertas  -->
    <div class="container py-1">
        <div class="row">
            <div class="col-12">
                <h1>{{ @i18n_create_person }}</h1>

            </div>
        </div>
    </div>
    <!-- FIN FILA mensajes alertas  -->

    <!-- <a class="btn btn-lg btn-primary" href="/person/prueba">object to array</a>  -->
	  <form action="{{ @BASE.'/person/createperson' }}" method="post" class="" id="creaperson">
      <div id="alerta"></div>
        <div class="mb-3">
          <div class="row">
              
            <div class="col">
              <label class="form-label" for="person_phone">{{ @i18n_person_phone }}</label>
              <div class="form-field"><input type="tel" class="form-control bg-primary bg-opacity-10" name="person_phone" id="person_phone" value="{{ @nperson_phone }}" pattern="[0-9]{3}[0-9]{3}[0-9]{4}" required  autofocus >
              </div>
            </div>

    		<div class="col">
      		  <label class="form-label" for="person_name">{{ @i18n_person_name }}</label>
      		  <input type="text" class="form-control bg-primary bg-opacity-10" name="person_name" id="person_name" required />
    		</div>
    		
    		<div class="col">
      		  <label class="form-label" for="person_lname">{{ @i18n_person_lname }}</label>
      		  <input type="text" class="form-control bg-primary bg-opacity-10" name="person_lname" id="person_lname" required />
    		</div>
    		
  		  </div>
	    </div>

        <div class="mb-3">
          <div class="row row-cols-2 input-group-sm">
          <div class="col-sm-5 col-md-5 col-lg-5 col-xl-5">
            <label class="form-label" for="person_dob">{{ @i18n_person_dob }}</label>
            <input type="text" class="form-control datepicker4 bg-primary bg-opacity-10" data-date-language="es" name="person_dob" id="person_dob" value="" autocomplete="off"/>
          </div>

            <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
              <label class="form-label" for="person_gender">{{ @i18n_person_gender }}</label>
            <select class="form-select bg-primary bg-opacity-10" id="person_gender" value="" name="person_gender" required>
          		<option value=""></option>
              <option value="F">F</option>
              <option value="M">M</option>
            </select>
            </div>
		<div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
		    <label class="form-label" for="person_maritals">{{ @i18n_person_maritals }}</label>
        	  <select class="form-select bg-primary bg-opacity-10" id="person_maritals" name="person_maritals">
          		<option value=""></option>
          		<option value="Soltera/o">Soltera/o</option>
          		<option value="Casada/o">Casada/o</option>
          		<option value="Divorciada/o">Divorciada/o</option>
          		<option value="Viuda/o">Viuda/o</option>
        	  </select>
		</div>

          </div>
        </div>
       

        <div class="mb-3">
          <div class="row">
            <div class="col">
              <label class="control-label" for="person_addr">{{ @i18n_person_addr }}</label>
              <div class="form-field"><input type="text" class="form-control bg-primary bg-opacity-10" name="person_addr" id="person_addr" required>
              </div>
            </div>
          </div>
        </div>

        <div class="mb-3">
          <div class="row">
            <div class="col">
        	<input type="hidden" id="session_csrf" name="session_csrf" value="{{ @CSRF }}" />
        	<input type="hidden" id="createperson" name="createperson" value="createperson" />
		<input type="hidden" id="nperson_phone" name="nperson_phone" value="{{ @nperson_phone }}" />
		<input type="hidden" id="person_num" name="person_num" value="{{ @person_num }}" />
        	<div class="col-lg-xs text-center"><input class="btn btn-primary" value="{{ @i18n_reg_per }}" name="btncreateperson" id="btncreateperson" type="submit"></div>
            </div>
          </div>
        </div>				  
	   </form>
	</div>
  </div>
</div>